/* table of content */

/* css reset
 * general style
 * header
 * main
*/

/* css reset */

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* css reset end */

/* general style */

body {
    font-family: 'Tinos',georgia,'times new roman',times,serif;;
}

/* general style end */

/* header */

header {
    position: sticky;
    top: 0;
}

.header-cont {
    background-color: white;
    padding: 5px 15px;
    display: flex;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left-header-icons {
    padding: 5px;
    margin-left: 5px;
    color: rgb(51, 51, 51);;
}

.left-header-text {
    margin-left: 20px;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
}

.logo-cont {
    display: inline;
    text-align: center;
    margin: auto;
}

.right-cont button {
    background-color: #567b95;
    border: 1px solid #3f5c70;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    padding: 11px 12px 8px 12px;
}

/* header end */

/* main */

.story {
    width: 600px;
    margin: auto;
}

.title {
    width: 383px;
    text-align: center;
    font-style: italic;
    margin: 50px 0 25px 0;
    font-size: 232%;
}

.author-sec {
    width: 945px;
    color: #666;
    margin: auto;
}

.author-sec img {
    width: 100%;
}

.author-name {
    color: rgb(155, 154, 154);
}

.author-sec p {
    width: 720px;
}

.story-header {
    height: 27px;
    width: 600px;
}

.story-header>.right-cont>.social-links {
    border-radius: 50%;
    color: black;
    background-color: #EEE;
    font-size: 88%;
    padding: 7px;
    padding: 0.5em 0.6em;
    border: 1px solid #fff;
    margin-right: 5px;
}

.story-header>.right-cont>.social-links:hover {
    background-color: #fff;
    border: 1px solid #eee;

}

.right-cont {
float: right;
}

.date {
    float: left;
    font-size: 90%;
}

.right-cont>a>img {
    position: relative;
    margin-right: 5px;
    bottom: -10px;
}

.right-cont>a>img[alt="svg2"]{
    margin-right: 5px;
    bottom: -14px;
}

.story>p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 90%;
}

.story-text {
    padding: 20px 0;
}
.line{
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 0px auto 18px;
}
.signup-info{
  text-align: center;
}
.signup-info a{
  color: blue;
}
.line:last-child{
  margin-top: 1rem;
}
.inflation-sec{
}

/* main end */
